@charset "utf-8";
.flex {
  display: flex;
}
.flex1 {
  flex-direction: column;
}
ul {
  margin: 0;
}
li {
  width: 180px;
  height: 60px;
  float: left;
  list-style: none;
  color: rgb(255, 0, 102);
  line-height: 60px;
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: 15px;
}
.juzhong {
  width: 200px;
  margin: 40px auto;
}
.toubei {
  width: 900px;
  margin: 0 auto;
  border-radius: 4%;
}
#qing > img {
  width: 450px;
  border-radius: 8%;
  margin-left: 36px;
  margin-top: 45px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  -webkit-filter: brightness(78%);
  filter: brightness(78%);
}
#qing > pre {
  color: rgba(0, 0, 0, 0.711);
  font-size: 1.3em;
  font-weight: bolder;
  line-height: 0px;
  margin-top: 48px;
  margin-right: 90px;
  text-align: right;
}
#yi > pre {
  color: rgba(0, 0, 0, 0.711);
  font-size: 1.3em;
  font-weight: bolder;
  line-height: 2px;
  margin-left: 26px;
  margin-top: 61px;
}
#yi > img {
  width: 450px;
  border-radius: 8%;
  margin-left: -75px;
  margin-top: 40px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}
#yi img:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#qing img:hover {
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#wo > h2 {
  color: rgba(0, 0, 0, 0.903);
  font-size: 1.3em;
  font-weight: bolder;
  line-height: 16px;
}
#richu > img {
  width: 300px;
  border-radius: 30px;
}
#richu img + img {
  margin-top: 20px;
}
#richu img:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  box-shadow: 0px -2px 8px rgba(232, 121, 99, 0.3),
    0px 2px 8px rgba(232, 121, 99, 0.3), -2px 0px 8px rgba(232, 121, 99, 0.3),
    2px 0px 8px rgba(232, 121, 99, 0.3);
}
